input {
  @apply border border-gray-500;
}

.block,
.node {
  @apply mb-4;
}

.node__content p,
.node__content ul,
.node__content ol {
  @apply mb-4 leading-normal;
}

.main-menu-wrapper {
  @apply text-white uppercase;
  background: linear-gradient(92.97deg, #1c5877 0.09%, #0d2d3d 99.9%);
}

.site-logo {
  width: 120px;
  height: 60px;
  position: relative;
}

.site-logo img {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 0;
  top: calc(-60px / 2);
}

/* Front Landing */
.front-landing {
  background-image: url('/images/bg-world.png');
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.gradient-bg {
  background: linear-gradient(90.32deg, #1c5877 0.09%, #0d2d3d 99.9%);
}

.text-flow {
  --flow-space: 1em;
}

.text-flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}
